@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60%;
}

.title {
  font-size: 5rem;
  padding: 1.5rem;
  background: #4a545d;
  color: white;
  letter-spacing: 2px;
}

.main {
  padding-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./background.jpeg);
  height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  gap: 5rem;
  margin-right: 13rem;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50rem;
}

.top {
  display: flex;
  gap: 4rem;
}

.scores-title {
  font-size: 4rem;
  font-weight: 600;
}

.btn {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 40% 26% 46% 47% / 1% 1% 1% 1%;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  background: #4a545d;
  color: white;
}

.scores-box {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  list-style: none;
  height: 40rem;
  overflow: hidden;
  overflow-y: scroll;
  background: rgba(74, 84, 93, 0.7);
  color: white;
}

.scores-box::-webkit-scrollbar {
  width: 0.5em;
}

.scores-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scores-box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
}

.inputs {
  padding: 0.7rem;
  font-size: 2rem;
  background: rgba(74, 84, 93, 0.7);
  color: white;
  border: none;
}

::placeholder {
  color: white;
}

.add-btn {
  margin-left: auto;
  cursor: pointer;
}

li {
  padding: 5px 15px;
  font-weight: 500;
}

footer {
  background: #4a545d;
  color: white;
  font-size: 2rem;
  padding: 13px;
  position: relative;
}

footer h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 7rem;
  }

  .scores-title {
    font-size: 2.5rem;
    margin-bottom: -3rem;
  }

  .scores-title li {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
  }
}
